[submodule "qemu"]
	path = qemu
	url = git@github.com:ISI-apex/qemu.git
	branch = snap
[submodule "qemu-devicetrees"]
	path = qemu-devicetrees
	url = git@github.com:ISI-apex/qemu-devicetrees.git
	branch = snap
[submodule "hpsc-baremetal"]
	path = hpsc-baremetal
	url = git@github.com:ISI-apex/hpsc-baremetal.git
	branch = snap
[submodule "hpsc-utils"]
	path = hpsc-utils
	url = git@github.com:ISI-apex/hpsc-utils.git
	branch = snap
[submodule "rtps/r52/u-boot"]
	path = rtps/r52/u-boot
	url = git@github.com:ISI-apex/u-boot.git
	branch = snap
[submodule "hpps/arm-trusted-firmware"]
	path = hpps/arm-trusted-firmware
	url = git@github.com:ISI-apex/arm-trusted-firmware.git
	branch = snap
[submodule "hpps/u-boot"]
	path = hpps/u-boot
	url = git@github.com:ISI-apex/u-boot.git
	branch = snap
[submodule "hpps/linux"]
	path = hpps/linux
	url = git@github.com:ISI-apex/linux-hpsc.git
	branch = snap
[submodule "hpps/userspace/busybox"]
	path = hpps/userspace/busybox
	url = git@github.com:acolinisi/busybox.git
