[submodule "qemu"]
	path = sdk/qemu
	url = git@github.com:ISI-apex/qemu.git
	branch = snap
[submodule "qemu-devicetrees"]
	path = sdk/qemu-devicetrees
	url = git@github.com:ISI-apex/qemu-devicetrees.git
	branch = snap
[submodule "hpsc-baremetal"]
	path = ssw/hpsc-baremetal
	url = git@github.com:ISI-apex/hpsc-baremetal.git
	branch = snap
[submodule "hpsc-utils"]
	path = ssw/hpsc-utils
	url = git@github.com:ISI-apex/hpsc-utils.git
	branch = snap
[submodule "rtps/r52/u-boot"]
	path = ssw/rtps/r52/u-boot
	url = git@github.com:ISI-apex/u-boot.git
	branch = snap
[submodule "hpps/arm-trusted-firmware"]
	path = ssw/hpps/arm-trusted-firmware
	url = git@github.com:ISI-apex/arm-trusted-firmware.git
	branch = snap
[submodule "hpps/u-boot"]
	path = ssw/hpps/u-boot
	url = git@github.com:ISI-apex/u-boot.git
	branch = snap
[submodule "hpps/linux"]
	path = ssw/hpps/linux
	url = git@github.com:ISI-apex/linux-hpsc.git
	branch = snap
[submodule "hpps/userspace/busybox"]
	path = ssw/hpps/busybox
	url = git@github.com:acolinisi/busybox.git
[submodule "ssw/rtps/a53/arm-trusted-firmware"]
	path = ssw/rtps/a53/arm-trusted-firmware
	url = git@github.com:ISI-apex/arm-trusted-firmware.git
[submodule "ssw/rtps/a53/u-boot"]
	path = ssw/rtps/a53/u-boot
	url = git@github.com:ISI-apex/u-boot.git
[submodule "sdk/hpsc-sdk-tools"]
	path = sdk/hpsc-sdk-tools
	url = git@github.com:acolinisi/hpsc-sdk-tools.git
[submodule "ssw/hpps/yocto/meta-openembedded"]
	path = ssw/hpps/yocto/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "ssw/hpps/yocto/poky"]
	path = ssw/hpps/yocto/poky
	url = https://git.yoctoproject.org/git/poky
[submodule "ssw/hpps/yocto/meta-hpsc"]
	path = ssw/hpps/yocto/meta-hpsc
	url = git@github.com:ISI-apex/meta-hpsc.git
